.container {
  width: 100%; !important
}
#cubeTable {
  margin-top: 50px;
}
#cubeTable thead{
  background-color: white;
  border-spacing: 2px;
  border-color: #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
#tableControls
{
  position: fixed;
  right: 5px;
  bottom: 5px;
  /*background-color: white;*/
  /*border: 1px solid #e7e7e7;*/
}
#tableControls button
{
  margin-left:2px;
}

.navbar-right
{
  float: right!important;
}
.navbar-right.li
{
  display: inline-block; !important
}

#cubeTable td:first-child {
  pointer-events:none;
  cursor: auto; 
}

#cubeTable td:first-child input{
  pointer-events: all;

}

.alert
{
  position: fixed;
  top: 55px;
  z-index: 9999;
  left: 3px;
  right: 3px;
}

ul.nav.navbar-nav.navbar-right {
  display: inline-flex;
}

.dropdown-menu {
  min-width: 0;
  width: 68px !important;
}

.dropdown-menu > li > a {
  padding: 3px 3px !important;
}

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
      position: absolute;
          background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    right: 0;
    left:auto;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}